
p.name{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.name{
    display: inline-block;
    position: relative;
}
a.pdf{
    font-style: none;
    text-decoration: none;
    color: black;
}
.put-questions{
    margin-top: 40px;
}
.write-question{
    margin-top: 20px;
}
.game{
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 2%;
}