<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Domain Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="domainPage.css" rel="stylesheet">
</head>
<body id="page-top">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Materia Tuxy</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#cursuri">Cursuri</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#labs">Laboratoare</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Despre</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="profile.png" alt="">
        <h1 class="text-uppercase mb-0">Titlu de prezentare</h1>
        <hr color="white" style="height: 5px">
        <h2 class="font-weight-light mb-0">Code - Develop - Learn</h2>
    </div>
</header>
<section class="bg-primary text-white mb-0" id="cursuri">
    <div class="container" style="padding-bottom: 187px; padding-top: 200px;">
        <h2 class="text-center text-uppercase text-white">Descarca cursuri</h2>
        <hr color="white" style="height: 3px">
        <table class="table" style="margin-top: 20px">
            <thead>
            <th>Nume curs</th>
            <th>Saptamana</th>
            <th>Descarca</th>
            </thead>
            <tbody>
            <tr>
                <td>Tuxy</td>
                <td>1</td>
                <td><button type="button" class="btn btn-sm btn-warning">Descarca</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="bg-primary text-white mb-0" id="labs">
    <div class="container" style="padding-bottom: 187px; padding-top: 200px;">
        <h2 class="text-center text-uppercase text-white">Descarca laboratoare</h2>
        <hr color="white" style="height: 3px">
        <table class="table" style="margin-top: 20px;">
            <thead>
            <th>Nume lab</th>
            <th>Saptamana</th>
            <th>Descarca</th>
            </thead>
            <tbody>
            <tr>
                <td>Tuxy</td>
                <td>1</td>
                <td><button type="button" class="btn btn-sm btn-warning">Descarca</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">Descriere materie</h2>
        <hr color="white" style="height: 3px">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, corporis distinctio dolorem doloribus eaque et expedita fuga illo illum iusto minima natus nisi provident quasi quibusdam quis reprehenderit tempore tenetur.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci aliquam aspernatur atque aut blanditiis cum enim iure necessitatibus nihil nostrum nulla, odit repudiandae rerum, suscipit ut veritatis vero voluptates?</p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#">
                <i class="fas fa-download mr-2"></i>
                PDF fisa disciplinei
            </a>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</body>

</html>
