<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Materii studenti</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="materii-stud.css">
</head>

<body>
    <div class="container">
        <div class="col-md-12">
            <h1 class="curs-title">Discipline de studiu</h1>
            <div class="form-group">
                <label>Selecteaza anul:</label>
                <select name="cars">
                    <option value="anul1">1</option>
                    <option value="anul2">2</option>
                    <option value="anul3">3</option>
                </select>
                <br>
                <label>Selecteaza semestrul:</label>
                <select name="semestru">
                    <option value="semestru1">1</option>
                    <option value="semestru2">2</option>

                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="materia1">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Introducere in programare</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, aspernatur illum beatae
                                architecto cum vel velit dignissimos quae voluptate nesciunt perspiciatis nulla error! Quo
                                assumenda fugit suscipit illo rem laboriosam.</p>
                            <p class="info"> AN 1; SEMESTRU 1 </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="materia2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Logica pentru informatica</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, aspernatur illum beatae
                                architecto cum vel velit dignissimos quae voluptate nesciunt perspiciatis nulla error! Quo
                                assumenda fugit suscipit illo rem laboriosam.</p>
                            <p class="info"> AN 1; SEMESTRU 1 </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="materia3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Matematica</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem iure explicabo vitae expedita
                                vero quo, asperiores necessitatibus blanditiis excepturi nam dicta dolorum aperiam consequuntur,
                                reprehenderit voluptatibus suscipit repellendus reiciendis!</p>
                            <p class="info"> AN 1; SEMESTRU 1 </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="materia4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Structuri de date</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit excepturi rem optio quaerat
                                ad laborum corrupti ipsum veritatis odit beatae nam, eum earum sequi cumque error hic amet
                                incidunt non?
                            </p>
                            <p class="info"> AN 1; SEMESTRU 1 </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="materia5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Inteligenta artificiala</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nam doloribus fuga perspiciatis
                                unde, dignissimos deserunt libero minus voluptas eligendi voluptates optio iure aliquid officia
                                rerum, similique nulla odit sapiente!
                            </p>
                            <p class="info"> AN 3; SEMESTRU 1 </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="materia6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Limba engleza I</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eos qui tempora minima reiciendis
                                sed fugit exercitationem, quo natus beatae pariatur minus consequuntur illo! In non rerum
                                fuga atque odio!
                            </p>
                            <p class="info"> AN 1; SEMESTRU 1 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="materia7">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Programare orientata obiect</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eos qui tempora minima reiciendis
                                sed fugit exercitationem, quo natus beatae pariatur minus consequuntur illo! In non rerum
                                fuga atque odio!
                            </p>
                            <p class="info"> AN 1; SEMESTRU 2 </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="materia8">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Tehnologii Web</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, aspernatur illum beatae
                                architecto cum vel velit dignissimos quae voluptate nesciunt perspiciatis nulla error! Quo
                                assumenda fugit suscipit illo rem laboriosam.</p>
                            <p class="info"> AN 2; SEMESTRU 2 </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="materia9">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Retele de calculatoare</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem iure explicabo vitae expedita
                                vero quo, asperiores necessitatibus blanditiis excepturi nam dicta dolorum aperiam consequuntur,
                                reprehenderit voluptatibus suscipit repellendus reiciendis!</p>
                            <p class="info"> AN 2; SEMESTRU 1 </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="materia10">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Algoritmica grafurilor</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit excepturi rem optio quaerat
                                ad laborum corrupti ipsum veritatis odit beatae nam, eum earum sequi cumque error hic amet
                                incidunt non?
                            </p>
                            <p class="info"> AN 2; SEMESTRU 1 </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="materia11">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Securitatea informatiei</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nam doloribus fuga perspiciatis
                                unde, dignissimos deserunt libero minus voluptas eligendi voluptates optio iure aliquid officia
                                rerum, similique nulla odit sapiente!</p>
                            <p class="info"> AN 3; SEMESTRU 1 </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="materia12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Limba engleza III</h4>
                            <button class="btn btn-primary subscribe">Subscribe</button>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eos qui tempora minima reiciendis
                                sed fugit exercitationem, quo natus beatae pariatur minus consequuntur illo! In non rerum
                                fuga atque odio!</p>
                            <p class="info"> AN 2; SEMESTRU 1 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>