<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashbord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="dashbord.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h3>Materii la care ești abonat</h3>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> Introducere in .net</h5>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis,
                                aspernatur illum beatae architecto cum vel velit dignissimos quae voluptate nesciunt
                                perspiciatis nulla error! Quo assumenda fugit suscipit illo rem laboriosam.</p>
                            <p class="info"> AN 1; SEMESTRU 1 </p>
                            <a href="#" class="btn btn-primary">Subscribed</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> Introducere in .net</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ipsa
                                mollitia, corrupti numquam non culpa consequuntur, dolorem odit quidem quas inventore
                                reprehenderit quae, neque doloribus cumque veniam quis debitis quos?</p>
                            <p class="info"> AN 1; SEMESTRU 1 </p>
                            <a href="#" class="btn btn-primary">Subscribed</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> Introducere in .net</h5>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis quidem
                                iure explicabo vitae expedita vero quo, asperiores necessitatibus blanditiis excepturi
                                nam dicta dolorum aperiam consequuntur, reprehenderit voluptatibus suscipit repellendus
                                reiciendis!</p>
                            <p class="info"> AN 1; SEMESTRU 1 </p>
                            <a href="#" class="btn btn-primary">Subscribed</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> Introducere in .net</h5>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit
                                excepturi rem optio quaerat ad laborum corrupti ipsum veritatis odit beatae nam, eum
                                earum sequi cumque error hic amet incidunt non?</p>
                            <p class="info"> AN 1; SEMESTRU 1 </p>
                            <a href="#" class="btn btn-primary">Subscribed</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h3>Noutăți</h3>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Profesorul Olariu Florin a adaugat un curs nou la materia Introducere
                                in .Net.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Profesorul Olariu Florin a adaugat un raspuns la intrebarea lui
                                Popescu Ion.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Studentul anonim a adaugat o intrebare.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">La materia Introducere in .Net s-a adaugat tema nr. 10.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Nu esti abonat la nicio materie! Acceseaza pagina acestora si
                                selecteaza materiile favorite.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>